In [60]:
import pandas as pd
import numpy as np

In [61]:
df = pd.read_csv("/content/AB_NYC_2019.csv")

In [62]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [63]:
df["id"]=df["id"].astype(str)
df["host_id"]=df["host_id"].astype(str)
df["latitude"]=df["latitude"].astype(str)
df["longitude"]=df["longitude"].astype(str)

In [64]:
df.describe()

,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [65]:
# Categorical Data
df.nunique()

id                                48895
name                              47905
host_id                           37457
host_name                         11452
neighbourhood_group                   5
neighbourhood                       221
latitude                          19048
longitude                         14718
room_type                             3
price                               674
minimum_nights                      109
number_of_reviews                   394
last_review                        1764
reviews_per_month                   937
calculated_host_listings_count       47
availability_365                    366
dtype: int64

In [66]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [67]:
df["room_type"].value_counts()

room_type
Entire home/apt    25409
Private room       22326
Shared room         1160
Name: count, dtype: int64

In [68]:
df["id"].value_counts()

id
2539        1
25583366    1
25551687    1
25552076    1
25554120    1
           ..
13121809    1
13122135    1
13122318    1
13122932    1
36487245    1
Name: count, Length: 48895, dtype: int64

In [69]:
df["room_type"].value_counts(normalize = True)

room_type
Entire home/apt    0.519665
Private room       0.456611
Shared room        0.023724
Name: proportion, dtype: float64

In [70]:
df_n = df["neighbourhood"].value_counts().reset_index().rename(columns={"index":"neighbourhood","neighbourhood":"number_of_hotels"})

In [71]:
df_n[df_n["number_of_hotels"] > 1000]

TypeError: '>' not supported between instances of 'str' and 'int'

In [72]:
df["price"].value_counts(bins=10)

(-10.001, 1000.0]    48656
(1000.0, 2000.0]       153
(2000.0, 3000.0]        41
(3000.0, 4000.0]        13
(4000.0, 5000.0]        12
(9000.0, 10000.0]        6
(6000.0, 7000.0]         5
(5000.0, 6000.0]         4
(7000.0, 8000.0]         4
(8000.0, 9000.0]         1
Name: count, dtype: int64

In [73]:
bins = [-10,0, 50,100, 200,500,800,2000,4000,10000]
df["price"].value_counts(bins = bins)

(50.0, 100.0]        17367
(100.0, 200.0]       16583
(200.0, 500.0]        7340
(0.0, 50.0]           6550
(500.0, 800.0]         624
(800.0, 2000.0]        334
(2000.0, 4000.0]        54
(4000.0, 10000.0]       32
(-10.001, 0.0]          11
Name: count, dtype: int64

In [74]:
# Measures of central tendency
df["price"].mean()

152.7206871868289

In [75]:
df["price"].median()

106.0

In [76]:
df["price"].std()

240.15416974718758

In [77]:
df["minimum_nights"].mean()

7.029962163820431

In [78]:
df["minimum_nights"].median()

3.0

In [79]:
#Measure of Spread

In [80]:
df["price"].skew()

19.118938995046033

In [81]:
df["price"].kurt()

585.6728788988286

In [82]:
df[df["availability_365"]==365].shape[0]

1295

In [83]:
df.corr()

ValueError: could not convert string to float: 'Clean & quiet apt home by the park'