In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('BlackFriday.csv')

In [3]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370.0
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200.0
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422.0
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057.0
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161580 entries, 0 to 161579
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     161580 non-null  int64
 1   Product_ID                  161580 non-null  object
 2   Gender                      161580 non-null  object
 3   Age                         161580 non-null  object
 4   Occupation                  161580 non-null  int64
 5   City_Category               161580 non-null  object
 6   Stay_In_Current_City_Years  161580 non-null  object
 7   Marital_Status              161580 non-null  int64
 8   Product_Category_1          161580 non-null  int64
 9   Product_Category_2          111461 non-null  float64
 10  Product_Category_3          49443 non-null   float64
 11  Purchase                    161579 non-null  float64
dtypes: float64(3), int64(4), object(5)
memory usage: 14.8+ MB

In [5]:
df

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370.0
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200.0
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422.0
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057.0
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969.0
...,...,...,...,...,...,...,...,...,...,...,...,...
161575,1001015,P00195042,M,36-45,3,A,4+,1,6,8.0,14.0,16631.0
161576,1001015,P00274542,M,36-45,3,A,4+,1,6,16.0,NaN,16250.0
161577,1001015,P00051942,M,36-45,3,A,4+,1,5,6.0,11.0,5234.0
161578,1001015,P00048842,M,36-45,3,A,4+,1,8,NaN,NaN,5879.0
161579,1001015,P00052142,M,36-45,3,A,4+,1,8,14.0,NaN,NaN

In [6]:
df.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2             50119
Product_Category_3            112137
Purchase                           1
dtype: int64

In [7]:
df.dropna()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200.0
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215.0
13,1000005,P00145042,M,26-35,20,A,1,1,1,2.0,5.0,15665.0
14,1000006,P00231342,F,51-55,9,A,1,0,5,8.0,14.0,5378.0
16,1000006,P0096642,F,51-55,9,A,1,0,2,3.0,4.0,13055.0
...,...,...,...,...,...,...,...,...,...,...,...,...
161564,1001015,P00005942,M,36-45,3,A,4+,1,2,4.0,9.0,9551.0
161565,1001015,P00320742,M,36-45,3,A,4+,1,1,4.0,9.0,11476.0
161570,1001015,P00223542,M,36-45,3,A,4+,1,1,8.0,17.0,19316.0
161575,1001015,P00195042,M,36-45,3,A,4+,1,6,8.0,14.0,16631.0
161577,1001015,P00051942,M,36-45,3,A,4+,1,5,6.0,11.0,5234.0

In [8]:
df.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2             50119
Product_Category_3            112137
Purchase                           1
dtype: int64

In [9]:
del df['Product_Category_2']
del df['Product_Category_3']

In [10]:
df

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,8370.0
1,1000001,P00248942,F,0-17,10,A,2,0,1,15200.0
2,1000001,P00087842,F,0-17,10,A,2,0,12,1422.0
3,1000001,P00085442,F,0-17,10,A,2,0,12,1057.0
4,1000002,P00285442,M,55+,16,C,4+,0,8,7969.0
...,...,...,...,...,...,...,...,...,...,...
161575,1001015,P00195042,M,36-45,3,A,4+,1,6,16631.0
161576,1001015,P00274542,M,36-45,3,A,4+,1,6,16250.0
161577,1001015,P00051942,M,36-45,3,A,4+,1,5,5234.0
161578,1001015,P00048842,M,36-45,3,A,4+,1,8,5879.0
161579,1001015,P00052142,M,36-45,3,A,4+,1,8,NaN